<form model="POST" action="puppy">
  <label for="name"> Puppy's Name </label>

  <label for="breed"> Puppy's Breed </label>

  <label for="age"> Puppy's Age </label>

  <label type="submit" value="submit"
